<style>
    #disqus-notify {
        font-size: 12px;
        color: darkgray;
        display: none;
        
    }
    #disqus-notify.active {
        display: block;
    }
</style>
<div id="disqus-notify">如果你无法看到下面的disqus评论区, 请检查你的科学上网设置.</div>
<script>
    setTimeout(() => {
        if (document.querySelector('#disqus_thread').innerHTML === '') {
            document.querySelector('#disqus-notify').classList.add('active');
        } else {
             console.log('Disqus load successfully, Yay!');
        }
    }, 3000);
</script>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_config = function () {
        this.page.url = '<%= page.permalink %>';  // Replace PAGE_URL with your page's canonical URL variable
        this.page.identifier = '<%= page.permalink %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
</script>
<script type="text/ls-javascript" id="disqus-thread-script">
    queue.offer(function() {
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document;
                var s = d.createElement('script');
                s.src = '//<%= theme.comment.shortname %>.disqus.com/embed.js';
                s.setAttribute('data-timestamp', + new Date());
                (d.head || d.body).appendChild(s);
            })();
        });
</script>
